<ion-header>
  <ion-toolbar>
    <h3 class="title">Login to your account.</h3>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)" class="signup-form">
    <ion-item class="item" lines="none">
      <input class="input" placeholder="email" type="email" name="email" [(ngModel)]="email" required/>
    </ion-item>
    <ion-item class="item" lines="none">
      <input class="input" placeholder="password" type="password" name="password" [(ngModel)]="password" required/>
    </ion-item>
    <div class="button-item" no-lines>
    <input class="call-to-action" type="submit" value="Login">
  </div>
  </form>

  <h3 class="header-paragraph-light" (click)="toSignUp()">Sign up for an account</h3>
  <h3 class="header-paragraph-light-grey" (click)="forgotPassword()">Forgot Password?</h3>


</ion-content>
