<ion-header>
  <ion-toolbar>
    <div style="display: flex; text-align: center; justify-content: center; align-items: center;">
      <ion-title class="title" style="color: white; font-family: 'Avenir';">SCAN PARKING METER</ion-title>
    </div>
    <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="close" style="color: white"></ion-icon>
    </ion-button>
    <!--<button ion-button large (click)="close()" style="position: absolute; margin-left: 10px; margin-top: -24px; width: 30px; height: 30px; background: transparent; color: white"><ion-icon name="close" style="width:20px; height:20px;"></ion-icon></button>-->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="this.CameraEnabled == 3">
  <div style="position: absolute; width: 100%; margin-top: 20px; display: flex; align-items: center; justify-content: center;" (click)="switch()">
    <img src="assets/qrcode.svg" id="testImage" style="height: 40px; width: 40px; margin-top: 30px;" />
    <!--<lottie-animation-view [options]="lottieConfig" [width]="300" [height]="600" (animCreated)="handleAnimation($event)">
    </lottie-animation-view>-->
  </div>
  <div style="height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center" (click)="switch()">
    <img src="assets/focus.svg" *ngIf="showCamera" id="testImage" style="height: 200px;" />
    <ion-item *ngIf="showText">
      <ion-input placeholder="Code" style="text-align: center"></ion-input>
    </ion-item>
  </div>
  <div style="position: absolute; left: 0px; width: 100%; bottom: 50px; display: flex; flex: 1; justify-content: center; align-items: center; flex-direction: 'row';">
    <button ion-button large *ngIf="showCamera" (click)="switch()" style="border-radius: 15px; width: 50px; height: 50px; margin-right: 30px; background-color: lightgray; padding: 0"><ion-icon name="create" style="width: 30px; height: 30px;"></ion-icon></button>
    <button ion-button large *ngIf="showText" (click)="switch()" style="border-radius: 15px; width: 50px; height: 50px; margin-right: 30px; background-color: lightgray; padding: 0"><ion-icon name="qr-scanner" style="width: 30px; height: 30px;"></ion-icon></button>
    <button ion-button large (click)="flash()" style="border-radius: 15px; width: 50px; height: 50px; background-color: lightgray; padding: 0"><ion-icon name="flashlight" style="width: 30px; height: 30px;"></ion-icon></button>
  </div>
</ion-content>

<ion-content class="no-permission" fullscreen *ngIf="this.CameraEnabled == 2">
  <div style="position: absolute; width: 100%; margin-top: 20px; display: flex; align-items: center; justify-content: center;" (click)="switch()">
    <img src="assets/qrcode.svg" id="testImage" style="height: 40px; width: 40px; margin-top: 30px;" />
    <!--<lottie-animation-view [options]="lottieConfig" [width]="300" [height]="600" (animCreated)="handleAnimation($event)">
    </lottie-animation-view>-->
  </div>
  <div style="height: 100%; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center" (click)="switch()">
    <img src="assets/focus.svg" *ngIf="showCamera" id="testImage" style="height: 200px;" />
    <ion-item *ngIf="showText">
      <ion-input placeholder="Code" style="text-align: center"></ion-input>
    </ion-item>
  </div>
  <div style="position: absolute; left: 0px; width: 100%; bottom: 50px; display: flex; flex: 1; justify-content: center; align-items: center; flex-direction: 'row';">
    <button ion-button large *ngIf="showCamera" (click)="switch()" style="border-radius: 15px; width: 50px; height: 50px; margin-right: 30px; background-color: lightgray; padding: 0"><ion-icon name="create" style="width: 30px; height: 30px;"></ion-icon></button>
    <button ion-button large *ngIf="showText" (click)="switch()" style="border-radius: 15px; width: 50px; height: 50px; margin-right: 30px; background-color: lightgray; padding: 0"><ion-icon name="qr-scanner" style="width: 30px; height: 30px;"></ion-icon></button>
    <button ion-button large (click)="flash()" style="border-radius: 15px; width: 50px; height: 50px; background-color: lightgray; padding: 0"><ion-icon name="flashlight" style="width: 30px; height: 30px;"></ion-icon></button>
  </div>
</ion-content>
