<!--<ion-header>
  <ion-toolbar>
    <div style="display: flex; text-align: center; justify-content: center; align-items: center;">
      <ion-title class="title" style="color: black; font-family: 'Avenir';">SCAN PARKING METER</ion-title>
    </div>
    <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="close" style="color: black"></ion-icon>
    </ion-button>
    <ion-button (click)="next()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="airplane" style="color: white"></ion-icon>
    </ion-button>-->
<!--<button ion-button large (click)="close()" style="position: absolute; margin-left: 10px; margin-top: -24px; width: 30px; height: 30px; background: transparent; color: white"><ion-icon name="close" style="width:20px; height:20px;"></ion-icon></button>-->
<!--</ion-toolbar>
</ion-header>-->

<ion-content fullscreen *ngIf="this.CameraEnabled == 3">
  <div class="header-div">
    <ion-button (click)="next()" ion-button icon-only fill="blue" size="large" color="light">
      next
    </ion-button>
  </div>

  <div>
    <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="close" style="color: white"></ion-icon>
    </ion-button>

  </div>
  <div style="margin-top: 80px; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center" (click)="switch()">
    <img src="assets/focus.svg" *ngIf="showCamera" id="testImage" style="height: 200px;" />
    <ion-item *ngIf="showText" class="code">
      <ion-input placeholder="Code" style="text-align: center; border-radius: 8px;"></ion-input>
    </ion-item>
    <h3 class="h3">Scan QR code  <br /> located on parking meter</h3>
  </div>

  <div style="position: absolute; left: 0px; width: 100%; bottom: 100px; display: flex; flex: 1; justify-content: center; align-items: center; flex-direction: 'row';">
    <img *ngIf="showCamera" (click)="switch()" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 30px; background-color: white; padding: 0" src="../assets/code.svg" />
    <img *ngIf="showText" (click)="switch()" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 30px; background-color: white; padding: 0" src="../assets/scan-qr.svg" />
    <img (click)="flash()" style="border-radius: 50%; width: 50px; height: 50px; background-color: white; padding: 0" src="../assets/light.svg" />
  </div>
</ion-content>

<ion-content class="loader-1" *ngIf="this.CameraEnabled == 1">
</ion-content>

<ion-content class="no-permission" fullscreen *ngIf="this.CameraEnabled == 2">
  <div class="header-div">
    <ion-button (click)="next()" ion-button icon-only fill="blue" size="large" color="light">
      next
    </ion-button>
  </div>

  <div>
    <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="close" style="color: white"></ion-icon>
    </ion-button>
  </div>
  <div style="margin-top: 80px; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center" (click)="switch()">
    <img src="assets/focus.svg" *ngIf="showCamera" id="testImage" style="height: 200px;" />
    <ion-item *ngIf="showText" class="code">
      <ion-input placeholder="Code" style="text-align: center; border-radius: 8px;"></ion-input>
    </ion-item>
    <h3 class="h3">Scan QR code  <br /> located on parking meter</h3>
  </div>
  <div style="position: absolute; left: 0px; width: 100%; bottom: 100px; display: flex; flex: 1; justify-content: center; align-items: center; flex-direction: 'row';">
    <!--<button ion-button large *ngIf="showCamera" (click)="switch()" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 30px; background-color: white; padding: 0"><ion-icon name="create" style="width: 30px; height: 30px;"></ion-icon></button>-->
    <img *ngIf="showCamera" (click)="switch()" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 30px; background-color: white; padding: 0" src="../assets/code.svg" />
    <img *ngIf="showText" (click)="switch()" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 30px; background-color: white; padding: 0" src="../assets/scan-qr.svg" />
    <img (click)="flash()" style="border-radius: 50%; width: 50px; height: 50px; background-color: white; padding: 0" src="../assets/light.svg" />
    <!--<button ion-button large *ngIf="showText" (click)="switch()" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 30px; background-color: white; padding: 0"><ion-icon name="qr-scanner" style="width: 30px; height: 30px;"></ion-icon></button>
    <button ion-button large (click)="flash()" style="border-radius: 50%; width: 50px; height: 50px; background-color: white; padding: 0"><ion-icon name="flashlight" style="width: 30px; height: 30px;"></ion-icon></button>-->
  </div>
</ion-content>
