<ion-content padding>

  <div class="header">

  </div>

  <ion-row>
    <ion-col size="3">
      <div class="center">
        <div class="seperator"></div>
      </div>
    </ion-col>
    <ion-col>
      <p class="title">Register</p>
    </ion-col>
    <ion-col size="3">
      <div class="center">
        <div class="seperator"></div>
      </div>
    </ion-col>
  </ion-row>


<form #loginForm="ngForm" (submit)="onSubmit(loginForm)" class="signup-form" no-lines>
  <div class="item">
    <input class="input" placeholder="Email" type="email" name="email" [(ngModel)]="email" required/>
  </div>
  <div class="item-white-space"></div>
  <div class="item">
    <input class="input" placeholder="Password" type="password" name="password" [(ngModel)]="password" required/>
  </div>
  <div class="button-white-space"></div>
  <div class="button-item" no-lines>
  <input class="call-to-action" type="submit" value="Register">
</div>
</form>

<div class="button-white-space"></div>


<h3 class="title-options" (click)="toLogin()">Already have an account? <span class="span">Login</span></h3>
</ion-content>
