<ion-content class="fadeIn" *ngIf="this.loaded == 1" padding>

  <div class="header">
    <ion-toolbar class="toolbar">
      <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
        <ion-icon name="close" style="color: white"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </div>
  <ion-row>
    <ion-col size="3">
      <div class="center">
        <img class="circle-btn" (click)="subtract()" src="../assets/subtract.svg" />
      </div>
    </ion-col>
    <ion-col>
      <h3 class="minutes-no">{{this.currentTimeString}}</h3>
      <h3 class="minutes-no">{{ this.minutes }}</h3>
      <p class="minutes">Minutes</p>
      <p class="price">$ {{ this.total }}</p>
    </ion-col>
    <ion-col size="3">
      <div class="center">
        <img class="circle-btn" (click)="add()" src="../assets/add.svg" />
        <!--<button ion-button class="circle-btn" (click)="add()">
          <ion-icon name="add" style="color: white"></ion-icon>
        </button>-->
      </div>
    </ion-col>
  </ion-row>

</ion-content>


<ion-content *ngIf="this.loaded == 0">
  <div class="loading">
    <app-loader-flow></app-loader-flow>
  </div>

  <!--<div class="header">
    <ion-toolbar class="toolbar">
      <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
        <ion-icon name="close" style="color: white"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </div>
  <ion-row>
    <ion-col size="3">
      <div class="center">
        <button ion-button class="circle-btn" (click)="subtract()">
          <ion-icon name="remove" style="color: white"></ion-icon>
        </button>
        <img class="circle-btn" src="../assets/subtract.svg" />
      </div>
    </ion-col>
    <ion-col>
      <h3 class="minutes-no">{{ this.minutes }}</h3>
      <p class="minutes">Minutes</p>
      <p class="price">$ {{ this.total }}</p>
    </ion-col>
    <ion-col size="3">
      <div class="center">
        <img class="circle-btn" src="../assets/add.svg" />
        <button ion-button class="circle-btn" (click)="add()">
          <ion-icon name="add" style="color: white"></ion-icon>
        </button>
      </div>
    </ion-col>
  </ion-row>-->

</ion-content>


<ion-footer *ngIf="this.loaded == 1" class="footer">
  <div class="details">
    <div class="options">
      <div class="vehicle" detail>

        <ion-row class="payment-row">
          <ion-col size="3">
            <div class="center">
              <img class="car-icon" src="../assets/uber-go.svg" />
            </div>
          </ion-col>
          <ion-col>
            <!--<p class="p">Audi A3</p>-->
            <!--<ion-select class="select" placeholder={{this.vehicle.rego_number}} [(ngModel)]="state">
              <ion-select-option (click)="setDefault(i)" *ngFor="let i of vehicles" value="nsw">{{i.rego_number}}</ion-select-option>
            </ion-select>-->
            <h3 (click)="setDefault()" class="card">{{this.vehicle.rego_number}}</h3>
          </ion-col>
          <ion-col size="3">
            <div class="center">
              <img class="down-arrow" src="../assets/down-arrow.svg" />
            </div>
          </ion-col>
        </ion-row>

        <div class="seporator-line"></div>

        <ion-row class="payment-row">
          <ion-col size="3">
            <div class="center">
              <!--<button ion-button class="circle-btn" (click)="subtract()">
                <ion-icon name="remove" style="color: white"></ion-icon>
              </button>-->
              <img class="cc-icon" src="../assets/visa.svg" />
            </div>
          </ion-col>
          <ion-col>
            <h3 class="card">• • • • 489</h3>
          </ion-col>
          <ion-col size="3">
            <div class="center">
              <img class="down-arrow" src="../assets/down-arrow.svg" />
            </div>
          </ion-col>
        </ion-row>

      </div>

      <div>
        <button ion-button (click)="startMeter()" class="start">Start</button>
      </div>

    </div>
  </div>
</ion-footer>
