<ion-header>
  <ion-toolbar>
    <div style="display: flex; text-align: center; justify-content: center; align-items: center;">
      <ion-title class="title" style="color: black;">Forgot Password?</ion-title>
    </div>
    <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="close" style="color: black"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <form (submit)="onSubmit()" class="signup-form">
    <div class="item">
      <input class="input" placeholder="Email" type="email" name="email" [(ngModel)]="email" required/>
    </div>
    <div class="button-white-space"></div>
    <div class="button-item" no-lines>
    <input class="call-to-action" type="submit" value="Reset Password">
  </div>
  </form>
</ion-content>
