.title{
  text-align: center;
  font-family: 'Avenir';
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
}

.toolbar {
  //margin-top: 30px;
  background-color: transparent;
}

.center {
  width: 100%;
  height: 100%;
}

.seperator{
  width: 90%;
  margin-top: 20px;
  height: 1px;
  //margin: 10px;
  background-color: #ECF0F1;
  margin: auto;
  display: flex;
  justify-content: center;
}



.signup-form {
  margin-top: 50px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.item{
  width: 90%;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #ECF0F1;
  margin: auto;
  display: flex;
  justify-content: center;
}

.input{
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  width: 90%;
  padding: 5px;
  height: 42px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.button-item{

  width: 100%;
}

.call-to-action{
  height: 50px;
  width: 90%;
  background-color: #0a64fd;
  border-radius: 0px;
  margin: auto;
  display: flex;
  color: white;
  justify-content: center;
  border-width: 0px;
  border-color: transparent;
  //border-radius: 8px;
}

.button-white-space{
  height: 50px;
}

.item-white-space{
  height: 10px;
}

.title-options{
  text-align: center;
  font-family: 'Avenir';
  font-size: 16px;
  margin-top: 10px;
}

.span{
  color: #0A64FD
}
