<ion-header>
  <ion-toolbar>
    <ion-button (click)="close()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title class="title">Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3 class="title">Enter your email <br/>
   we will send a reset link 😁</h3>
  <form (submit)="onSubmit()" class="signup-form">
    <ion-item class="item" lines="none">
      <input class="input" placeholder="email" type="email" name="email" [(ngModel)]="email" required/>
    </ion-item>
    <div class="button-item" no-lines>
    <input class="call-to-action" type="submit" value="Reset Password">
  </div>
  </form>
</ion-content>
