ion-col {
  align-self: center;
}

.center {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.car-icon{
  width: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.card{
  font-family: Avenir;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #000000;
  text-align: left;
}

.icon-tick{
  color: green;
  float: right;
}

.seporator-line {
  width: 90%;
  height: 1px;
  margin: 10px;
  background-color: #EFEFEF;
  margin: auto;
  display: flex;
  justify-content: center;
}
