.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.scroll {
  height: 100%
}
.hamburger{
  position: absolute;
  top:20px;
  left:10px;
  z-index: 999999999;
  width:8%;
}
#map {
  width: 100%;
  height: 100%;
}

ion-header{
  background:none;
}

.header::after {
  background-image: none;
}

.footer{
  position: absolute;
  bottom: 5px;
  background-color: transparent;
  padding: 5px;
}

.mark{
  position: absolute;
  bottom: 130px;
  right: 0px;
}

.buttons{
  margin-top:10px;
  --background: black;
}