<ion-header>
  <ion-toolbar>
    <ion-button (click)="openMenu()" ion-button icon-only fill="clear" size="large" color="dark">
      <ion-icon name="menu" style="color: black"></ion-icon>
    </ion-button>
    <ion-title class="title" style="color: black; font-family: 'Avenir';">VALAY</ion-title>
    <!--<button ion-button large (click)="close()" style="position: absolute; margin-left: 10px; margin-top: -24px; width: 30px; height: 30px; background: transparent; color: white"><ion-icon name="close" style="width:20px; height:20px;"></ion-icon></button>-->
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <!--<img class="hamburger" (click)="openMenu()" src="../../assets/icon/menu-button.png" />-->
  <div #map id="map">

  </div>
  <img (click)="dropMark()" src="../../assets/mark.svg" class="mark" />
  <ion-footer class="footer">
    <div class="center">
      <button ion-button class="buttons" (click)="switch()">Park</button>
    </div>
    <!--<ion-button class="buttons" (click)="logout()" expand="block">logout</ion-button>-->
  </ion-footer>
</ion-content>
