ion-content{
    --background: var(--ion-background-color, transparent) !important;
    --overflow: hidden;
}

ion-toolbar {
    --background: #000000;
    --ion-color-base: transparent !important;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.scroll {
  height: 100%;
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 999999999;
  width: 8%;
}

#map {
  width: 100%;
  height: 100%;
}

.header::after {
  background-image: none;
}

.footer {
  position: absolute;
  bottom: 20px;
  background-color: transparent;
  padding: 10px;
}

.mark {
  position: absolute;
  bottom: 160px;
  right: 0;
  height: 50px;
  width: 50px;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
  background-color: #181818;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Avenir';
  font-size: 20px;
}
